<h1>Tweet投稿</h1>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<%= link_to "Tweet一覧へ戻る", tweets_path %>

<%= form_with model: @tweet, local: true do |f| %>
  <h3>タイトル</h3>
    <%= f.text_field :title %>
  <h3>ジャンルを選んでください</h3>
    <%= f.collection_select( :genre_id,Genre.all, :id, :name, {}) %>
  <h3>内容</h3>
    <%= f.text_area :content %>
    <%= f.submit '投稿する'%>
<% end %>

<!doctype html>
<html lang="ja" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>カバー for Bootstrap · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.jp/docs/5.0/examples/cover/">

