<h1>Tweet詳細ページ</h1>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<%= link_to "Tweet一覧へ戻る", tweets_path %>


<div class="contents row">
  <div class="contents-child">
      <%= @tweet.genre.name %>
      <p><%= @tweet.content %></p>
  </div>
</div>

<%= form_with model: [@tweet,@message], local: true  do |f| %>
  <%= f.text_field :text %>
  <%= f.submit '送信' %>
<% end %>


<div id='messages'>
  <% @messages.reverse.each do |message| %>
    <p><%= message.text %></p>
  <% end %>
</div>