<h1>プロフィール</h1>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<%= link_to "Tweet一覧へ戻る", tweets_path %>


<div class="contents row">
  <p><%= @nickname %></p>
  <div class="contents-child">
  <% @tweets.each do |tweet| %>
      <%= tweet.genre.name %>
      <p><%= tweet.content %></p>
  <% end %>
  </div>
</div>
